html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

tab {
	padding-left: 4em;
}
/*=============================BEGIN CSS=================================*/

body {
  background: linear-gradient(to right, #1B1B1B 1px, transparent 1px), linear-gradient(to bottom, #1B1B1B 1px, transparent 1px);
  background-size: 40px 40px;
  background-color: #000;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.main {

}

.container {

}

#logoContainer {
  position: relative;
  height: 150px;
  width: 450px;
  margin: 50px auto;
}

#logoBorder {
  height: 150px;
  width: 450px;
  border: 3px #fff solid;
  margin: 50px auto;
}

#logo {
  position: absolute;
  text-align: center;
  line-height: 150px;
  font-size: 100px;
  font-family: 'Astloch', cursive;
  color: white;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
	transition: .6s ease;
}

#logo:hover {
  font-size: 110px;
	/*transform: translateZ(150px);*/
}

.mainBorder {
	border: 3px #fff solid;
	margin: 50px auto;
  width: 450px;
  height: 650px;
}

.navbar {
	margin: 10px;
}

.navbar ul {
	display: flex;
	justify-content: space-around;
}

.navbar a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	transition: .6s ease;
	font-family: Open Sans;
}

.navbar ul li a:after {
	content: '';
	display: block;
	height: 2px;
	width: 0;
	background: transparent;
	transition: .6s ease;
	transform: scaleX(0);
	margin: 0 auto;
}

.navbar ul li a:hover:after {
	background: #fff;
	transform: scaleX(1);
	width: 100%;
}

.navbar a:hover {
	font-size: 16px;
}

.mainBody {
	color: #fff;
	margin: 10px 20px;
}

.mainBody ul li {
	margin-left: 4em;
  list-style: circle;
}

.mainInfo {
	display: flex;
	justify-content: space-around;
	border: 3px #fff solid;
	margin-bottom: 8px;
}

.infoBlock {
	position: relative;
	width: 100%;
	height: 125px;
	opacity: 0.8;
	overflow: hidden;
}

.infoBlock img {
	display: block;
	margin: 0 auto;
}

.titleBlock {
	position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  line-height: 25px;
}

.titleBlock div {
	font-family: OPEN SANS;
	text-decoration: none;
  color: #000;
}

#welcomeTab {
	display: block;
}

#projectTab {
	display: none;
}

#aboutTab {
	display: none;
}

.mediaLinks {
	text-align: center;
  margin: 20px auto;
}
.mediaLinks a {
	margin: 10px;
	border: 1px #fff solid;
	text-decoration: none;
	color: #FFF;
	padding: 3px;
	font-size: 16px;
	transition: .6s ease;
}

.mediaLinks a:hover {
	font-size: 18px;
}
